* {
    font-family: 'Montserrat',
    sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

h2 {
    text-align: center;
}

.button {
    padding: 5px 20px;
    background-color:blue;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}

.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background: white;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.right {
    margin-left: 50px;
}

.textinput {
    border: none;
    border-bottom: 1px solid blue;
}

.buttontwo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.close {
    position: absolute;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 176px;
    background: red;
    padding: 10px;
    left: 63.2%;
    color: white;
    cursor: pointer;
}